@font-face{

font-family: 'MyWebFont';

src: url('/fonts/Comfortaa-Regular.ttf') format('truetype');
}

#b-popup-content{
    
}

 #contacts, #top { position: absolute; font-size:18px;} 
   #top {
    left: 20px;
    font-family: 'MyWebFont'; }
   #contacts {
    right: 40px;
    bottom: 40px;
    font-family: 'MyWebFont'; }
